<div class="container">
    <h2>Post Task</h2>
  
    <form [formGroup]="taskForm" (ngSubmit)="postTask()">
      <!-- Title Field -->
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Title</mat-label>
        <input matInput type="text" placeholder="Enter Title" formControlName="title" />
        <mat-error *ngIf="taskForm.get('title')?.hasError('required')">Title is required!</mat-error>
      </mat-form-field>
  
      <!-- Description Field -->
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Enter Description" formControlName="description"></textarea>
        <mat-error *ngIf="taskForm.get('description')?.hasError('required')">Description is required!</mat-error>
      </mat-form-field>
  
      <!-- Due Date Field -->
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Due Date</mat-label>
        <input matInput [matDatepicker]="dueDatePicker" placeholder="Choose a due date" formControlName="dueDate" />
        <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #dueDatePicker></mat-datepicker>
        <mat-error *ngIf="taskForm.get('dueDate')?.hasError('required')">Due Date is required!</mat-error>
      </mat-form-field>
  
      <!-- Priority Field -->
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Select Priority</mat-label>
        <mat-select formControlName="priority">
          <mat-option *ngFor="let priority of listOfPriorities" [value]="priority">
            {{ priority }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="taskForm.get('priority')?.hasError('required')">Priority is required!</mat-error>
      </mat-form-field>
      <!-- Employee Field -->
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Select Employee</mat-label>
        <mat-select formControlName="employeeId">
          <mat-option *ngFor="let employee of listOfEmployees" [value]="employee.id">
            {{ employee.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="taskForm.get('employeeId')?.hasError('required')">Employee is required!</mat-error>
      </mat-form-field>
      <!-- Submit Button -->
      <button mat-raised-button color="primary" type="submit" [disabled]="taskForm.invalid">
        Post Task
      </button>
    </form>
  </div>
  