<!-- For Logged Out State -->
<div *ngIf="!isEmployeeLoggedIn && !isAdminLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Task Management System</span>
    <span class="spacer"></span>
    <div class="navbar-links">
      <button mat-raised-button color="accent" routerLink="/signup" routerLinkActive="active">Register</button>
      <button mat-raised-button color="primary" routerLink="/login" routerLinkActive="active">Login</button>
    </div>
  </mat-toolbar>
<router-outlet></router-outlet>
</div>
<!-- For Admin Logged In State -->
  <div *ngIf="isAdminLoggedIn" >
    <mat-toolbar color="primary" class="navbar">
      <span class="navbar-brand">Admin</span>
      <span class="spacer"></span>
      <button mat-button routerLink="/admin/dashboard" routerLinkActive="active">DashBoard</button>
      <button mat-button routerLink="/admin/post-task" routerLinkActive="active">Post Task</button>
      <button mat-button (click)="logout()" routerLinkActive="active">LogOut</button>
    </mat-toolbar>
<router-outlet></router-outlet>
  </div>
<!-- For Employee Logged In State -->
<div *ngIf="isEmployeeLoggedIn" >
  <mat-toolbar color="primary">
    <span class="navbar-brand">Employee</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/employee/dashboard" routerLinkActive="active">DashBoard</button>
    <button mat-button (click)="logout()" routerLinkActive="active">LogOut</button>
  </mat-toolbar>
<router-outlet></router-outlet>
</div>
<router-outlet></router-outlet>
